.custom-field.mat-mdc-form-field {

  .mat-mdc-text-field-wrapper {
    background: var(--primary-light);
    border-radius: 12px;
    //height: 56px;
    padding: 0 16px;
    //display: flex;
    //align-items: center;
    transition: all 0.25s ease;
  }

  /* hover */
  &:hover .mat-mdc-text-field-wrapper {
    background: var(--primary-light);
  }

  /* focus */
  &.mat-focused .mat-mdc-text-field-wrapper {
    box-shadow: 0 0 0 1px var(--text-blue);
    background: var(--primary-light);
  }

  /* label */
  &.mat-mdc-form-field-type-mat-input .mat-mdc-floating-label {
    color: var(--text-blue) !important;
    font-size: 17px;
    opacity: 55%;
    transition: all 0.2s ease;
    &.mdc-floating-label--float-above {
      opacity: 100%;
    }
  }
  &.mat-mdc-form-field-type-mat-select .mat-mdc-floating-label {
    color: var(--text-blue) !important;
    font-size: 14px;
    transition: all 0.2s ease;

  }

  /* активное состояние label */
  &.mat-focused .mat-mdc-floating-label,
  .mdc-floating-label--float-above {
    color: var(--text-blue);
    opacity: 100%;
  }

  /* input / select text */
  .mat-mdc-input-element,
  .mat-mdc-select-value {
    color: var(--text-light);
    font-size: 15px;
  }

  /* стрелка select */
  .mat-mdc-select-arrow {
    color: var(--text-blue);
  }

  /* убираем лишнее */
  .mdc-line-ripple,
  .mat-mdc-form-field-focus-overlay {
    display: none;
  }
  .mat-mdc-form-field-bottom-align {
    display: none;
  }
}
.mat-mdc-select-panel{
  padding: 0 !important;
  top: 5px ;
  .mat-mdc-option.mdc-list-item {
    background: var(--primary-light) !important;
    color: var(--text-light) !important;
    transition: all 0.2s ease;

    &:hover {
      background: var(--primary-light);
    }

    &.mdc-list-item--selected {
      background: var(--primary-light);
      color: var(--text-light);
    }
  }

}

input[type="date"] {
  position: relative;
  z-index: 2;
}
